{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome, {{name}}!</h1>
  <!--TODO: Make a GET request to the /download path-->
  <a href="{{ url_for('download', filename='cheat_sheet.pdf') }}" method="GET">Download Your File</a>
  <br>
  <form method="POST" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <input class="ok", type="file", name="file">
    <button class="op">Submit</button>
  </form>
</div>
{% endblock %}
